<div class="col-sm-12 bg">
    <div class="col-sm-6">
        <h4 class="branchclr">Create Organization</h4>
    </div>
    <div class="col-sm-6 text-right closing-mat-icon">
        <h4 (click)="onNoClick()"> X </h4> 
    </div>
</div>


<div class="comtainer">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" value="">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Contact Number" value="">
              </mat-form-field>
      
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email id" value="">
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="address"></textarea>
                  </mat-form-field>
      
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="city" value="">
                  </mat-form-field>
      
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="state" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="pincode" value="">
                      </mat-form-field>
      
                    </form>
      
                    

                    <div class="btn-group btn-group-justified orgButton" role="group" aria-label="...">
                       
                        <div class="btn-group" role="group">
                          <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                      </div>


    </div>
  </div>
</div>

  
 