<div class="about-us">
  <div class="container">
    <div class="about-us-adj">
      <h1> Our Vision Starts  </h1>
      <img src="./assets/images/vision1.png" alt="facebook" style="width:80%;">
   
    <div class="our-vision-text">
      <h1>
        Our vision is to be the Telangan's largest <span style="color:orange">
         <b> for domestic Workers/Employees </b>;
        </span> 
         to build a place where anyone can come to 
         <span style="color:orange">discover and hire </span> any domestic help they Needs.
      </h1>



      <div class="leading">
          <hr style="height:1px;border:none;color:#333;background-color:#333;" />

        <h1> Our Leading Team </h1>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />

        <br>
        <h3> Meet the founders </h3>

       
            
            <p>Abhinesh Ghugloth.</p>
            <p>Tip: Use the "media-right" class to right-align the media object.</p><br>
            
            <!-- Left-aligned media object -->
            <div class="media">
              <div class="media-left">
                  <img src="./assets/images/abhi.jpg" class="img-circle" width="50%">
                </div> 
              <div class="media-body">
                <h4 class="media-heading abhi">Abhinesh Ghugloth</h4>
                <p>Founder and  CEO..</p>
              </div>
            </div>
            <hr>
            
            <!-- Right-aligned media object -->
            <div class="media">
               
                <div class="media-body">
                  <h4 class="media-heading">Abhinesh Ghugloth</h4>
                  <p> CEO.. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="media-left">
                    <img src="./assets/images/a.jpg"  class="img-circle" width="50%">
                  </div> 
              </div>
          
            <div>
                <h3 style="color:blue"> Team Members </h3>
                <img src="./assets/images/team.jpg" class="media-object img-rounded" style="width:100%">

              </div>
  </div>
</div>
 </div>
 </div>
</div>
