.about-us{background-color: rgb(255, 240, 247);width: 100%;}
.about-us-adj{text-align: center;}
.our-vision-text{color:black;width: 65%;margin:0 auto;}
.media-left{width:50% !important}
.media-body{vertical-align: middle !important}
.abhi{color:blue;}
