
 <div class="back-color">

  <div class="container">
 <div class="row">
 <div class="col-sm-12 contact-us">
<div class="col-sm-2 contact-uss">
 <a routerLink="/home" routerLinkActive="active"> <span style="font-size:20px;color:black"> Home</span>  </a>
 </div>
            
<div class="col-sm-2 contact-uss">
<a routerLink="/about-us"  class="dropdown-toggle" data-toggle="dropdown" href="#"> <span style="font-size:20px;color:white"> About Us </span> </a>
</div>
 <div class="col-sm-2">
 <img src="./assets/images/twa.png" alt="Labours"  class="img-circle img-responsive" style="width:100%;">
 </div>
<div class="col-sm-2 contact-uss">
 <a routerLink="/services"  class="dropdown-toggle" data-toggle="dropdown" href="#"> <span style="font-size:20px;color:white"> Services </span></a>
   </div>
<div class="col-sm-2 contact-uss">
<a routerLink="/contact-us"><span style="font-size:20px;color:white">  contact-us  </span></a>
</div>
  </div>
</div>
 </div>
 </div>   




 <div class="back-colors">
     <div class="container">
         <div class="col-sm-7 contactme col-sm-offset-2">
                <img src="./assets/images/con.png" alt="Contact us"  class="imgs" style="width:30%;">
         </div>
         <hr/>
         <div class="clearfix"></div>
        
                <div class="container details">
                    <div class="row">
                        <div class="com-sm-12">
                    
                     <span class="glyphicon glyphicon-home "></span>
                     <span class="glyphicon-class"> Hyderabad </span> 
                        </div>
                        <div class="com-sm-12">

                         <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
                        <span class="glyphicon-class">  abhinesh.236@gmail.com </span>  
                        </div> 
                        <div class="com-sm-12">

 <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 
 <span class="glyphicon-class">040-239051901 <br/> 9603646496 </span>   
                               </div>                
                               <div class="com-sm-12">
 
                                <img src="./assets/images/whats.jpg" aria-placeholder="8019362901" alt="Whats Up" class="img-rounded" style="width:5%;">
<h3> 9603646496 </h3>
                            </div>
                    </div>
  </div>
         <div class="col-sm-1 contaict-me col-sm-offset-2">
         <a href="https://www.facebook.com/abhinesh.kumar.718"> 
            <img src="./assets/images/fb.png" alt="facebook" class="img-rounded" style="width:80%;"> </a>
            
        </div>
         <div class="col-sm-1 contaict-me col-sm-offset-1">
                <a href="https://twitter.com/i/notifications"> 
                    <img src="./assets/images/t.jpg" alt="Twitter" class="img-rounded" style="width:100%;"> </a>        </div>
         <div class="col-sm-1 contaict-me col-sm-offset-1">
                <a href="https://www.youtube.com/watch?v=nOrjG1bpWBw&list=PLWBrqglnjNl3J_53Mx_R3-4EzqOBL3AS5&index=2"> 
                    <img src="./assets/images/youtube.jpg" class="img-rounded" alt="youtube" style="width:100%;"> </a>
         </div>
         <div class="col-sm-1 col-xs-1 contaict-me col-sm-offset-1">
                <img src="./assets/images/whats.jpg" alt="Whats Up" class="img-rounded" style="width:80%;">
                <br/>

         </div>
        
     </div>
     
 </div>

 