.contact-us{}
.text-adj{font-size:20px;color:black}
.contact-uss{margin: 20px;padding: 20px; }
.back-color{background-color: rgb(161, 211, 245);width:100%}
.back-colors{background-color: rgb(6, 22, 32);}
.contaict-me{border-right:10px;font-size: 12px;color: whitesmoke};
.contactme{font-size: 100px;}
.imgs{border-radius: 10px;}
.details{margin-left:20px;color: beige;width:100%;border-radius: 10px;font-size:20px;text-align: center}