

        <div class="container">
            <h2> User Details </h2>
            <hr>
            <h4>Name of Organization <span> </span></h4>
            <div class="col-sm-4">
                <input type="text" class="form-control colsm-4" aria-label="..."> 
                <button type="button" class="btn btn-default dropdown-toggle"> Search </button> 
</div>

<hr/>
<h4>Name of Admin Details <span> </span></h4>
<div class="col-sm-4">
    <input type="text" class="form-control colsm-4" aria-label="..."> 
    <button type="button" class="btn btn-default dropdown-toggle"> Search </button> 
</div>
<hr/>
<h4>Name of User <span> </span></h4>
<div class="col-sm-4">
    <input type="text" class="form-control colsm-4" aria-label="..."> 
    <button type="button" class="btn btn-default dropdown-toggle"> Search </button> 
</div>
            <table class="table table-striped">
              <thead>
                <tr>
                    
                  <th> S.No </th>
                  <th> User Name </th>
                  <th> mobile number </th>
                  <th> Address </th>
                  <th>city </th>
                  <th> state </th>
                  <th> email Id </th>
                 

                </tr>
              </thead>
              <tbody>
                <tr>
                    <td> 1 </td>
                  <td> jyothi </td>
                  <td> 9512364796 </td>
                  <td> hyat nagar </td>
                  <td> hyderabad </td>
                  <td> telangana </td>
                  <td> jyothi@gmail.com </td>
                  <td> <button type="button" class="btn btn-default navbar-btn"> Edit </button>
                  </td>
                  <td> <button type="button" class="btn btn-default navbar-btn"> Delete </button>
                  </td>
                </tr>
                <tr>
                    <td> 2 </td>
                  <td> rajesh </td>
                  <td> 9512304697 </td>
                  <td> patancheruvvu </td>
                  <td> hyderabad </td>
                  <td> telangana </td>
                  <td> rajesh@gmail.com </td>
                  <td> <button type="button" class="btn btn-default navbar-btn"> Edit </button>
                  </td>
                  <td> <button type="button" class="btn btn-default navbar-btn"> Delete </button>
                  </td>
                </tr>

                <tr>
                    <td> 3 </td>
                    <td> pradeep </td>
                    <td> 9512364796 </td>
                    <td> kukatpalli </td>
                    <td> hyderabad </td>
                    <td> telangana </td>
                    <td> pradeep@gmail.com </td>
                    <td> <button type="button" class="btn btn-default navbar-btn"> Edit </button>
                    </td>
                    <td> <button type="button" class="btn btn-default navbar-btn"> Delete </button>
                    </td>
                </tr>

                <tr>
                    <td> 4 </td>
                    <td> harini </td>
                    <td> 9876325410 </td>
                    <td> malakpet </td>
                    <td> hyderabad </td>
                    <td> telangana </td>
                    <td> harini@gmail.com </td>
                    <td> <button type="button" class="btn btn-default navbar-btn"> Edit </button>
                    </td>
                    <td> <button type="button" class="btn btn-default navbar-btn"> Delete </button>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
          

