

        <div class="container">
                <h2> Organization Details </h2>
                
                <h4>Name of Organization <span> </span></h4>
<div class="col-sm-4">
                <input type="text" class="form-control colsm-4" aria-label="..."> 
                <button type="button" class="btn btn-default dropdown-toggle"> Search </button> 
</div>
               
            
               

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th> S.No </th>
                      <th>Organization State</th>
                      <th>created date</th>
                      <th>created by</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> 1 </td>
                      <td> Telanga </td>
                      <td> 13/06/2018 </td>
                      <td> Sai Prakash </td>
                      <td> <button type="button" class="btn btn-default navbar-btn"> Edit </button>
                      </td>
                      <td> <button type="button" class="btn btn-default navbar-btn"> Delete </button>
                      </td>
                    </tr>
                    <tr>
                                <td> 2 </td>
                      <td> Andhra Pradesh </td>
                      <td> 21/10/2018 </td>
                      <td> Sukumar </td>
                      <td> <button type="button" class="btn btn-default navbar-btn"> Edit </button>
                      </td>
                      <td> <button type="button" class="btn btn-default navbar-btn"> Delete </button>
                      </td>
                    </tr>
                    <tr>
                      <td> 3 </td>
                      <td>  Tamil Nadu  </td>
                       <td> 2/12/2018</td>
                       <td>  Abhinesh ghugloth  </td>
                       <td> <button type="button" class="btn btn-default navbar-btn"> Edit </button>
                      </td>
                      <td> <button type="button" class="btn btn-default navbar-btn"> Delete </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              

